.sidenavbar{
  width: 240px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  color: #ccc;
  min-height: 100vh;
  float: left;

}

* { margin: 0; padding: 0 }

.sidenavbar-top-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

}

.sidenavbar-top-menu-item ul li {
  list-style-type: none;


}

.profile-icon{
  background: #f8cbad;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}


.profile-title{
  display: flex;
  align-items: center;
  flex :1;
  margin-left: 10px;
  margin-top: 2rem;
}

.sidenavbar-top-search{
  padding: 15px;
  /* height: 15rem; */


}

.search-block{
  display: flex;
  align-items: center;
  background: #404040;
  padding:8px 10px;
  border-radius: 30px;
  /* max-height: 1rem; */

}

.search{
  color: #fff;
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
}

.sidenavbar-top-create-note{
  padding: 0 15px;
  color: #fff;

}


.create-note-btn{
  display: flex;
  align-items: center;
  padding:8px 10px;
  cursor: pointer;

}



.title{
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
}

.sidenavbar-top-menu-item{
  margin-top:10px;
  height: 28.7rem;

}

.sidenavbar-top-menu-item ul li a {
  display: flex;
  color: #ccc;
  text-decoration: none;
}

.sidenavbar-bottom{
  /* position: fixed; */
  /* float: end; */
  padding: 8px 15px;
  border-top: 1px solid #555;
  /* background-color: red; */
}

.icon{
  font-size: 14px;
  margin-right: 8px;
}


.NavNotebooks{
  margin-left: 2rem;

}

.NavNotebooks:hover{
  color: purple;
}

.NavNotebookContainer{
  /* background-color: lawngreen; */
  height: 7rem;
  overflow: scroll;
  margin-bottom: .4rem;

}

.notebooksNavTitle{
  margin-left: .9rem;
  margin-bottom: .5rem;
  margin-top: .8rem;
  color: white;
  cursor: pointer;
}
.notebooksNavTitle:hover{
  color: purple;
}

.notebooksNavTitle1{
  margin-left: .5rem;
}

.navhome{
  margin-left: -.45rem;
  text-decoration: none;
  color: white;
}

.navhome:hover{
  color: purple;
}

.bb:hover{
  color: purple;
}
.navhome1{
  /* margin-left: -.01rem; */
  text-decoration: none;
  color: white;
}

.navhome2{
  margin-left: -.2rem;
  text-decoration: none;
  color: white;
}

.navhome2:hover{
  color: purple;
}

.navhome1:hover{
  color: purple;
}

.madeBy{
  margin-top: 1rem;
}


.searchResultsContainer{
  /* background-color: green; */
  display: flex;
  align-items: center;
  background: #404040;
  padding:8px 10px;
  margin-top: -1.1rem;
  overflow: scroll;
  /* max-height: 1rem; */
  /* border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}

.searchResultsContainer:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.searchResItem{
  text-decoration: none;
  color: white;
  margin: .5rem;
  margin-left: 1.5rem;
  overflow: hidden;
}

.searchResItem:hover{
 color: purple;
}

.ppp{
  background-color: green;
  max-height: 1rem;
}
