.sidenavbar {
  width: 240px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  color: #ccc;
  min-height: 100vh;
  float: left;
}

* {
  margin: 0;
  padding: 0;
}

.sidenavbar-top-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.sidenavbar-top-menu-item ul li {
  list-style-type: none;
}

.profile-icon {
  background-image: url("https://wallpapersmug.com/large/0b0f72/astronaut-minimal-art.jpg");
  background-size: cover;
  background-position-x: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.profile-title {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 10px;
  margin-top: 2rem;
}

.sidenavbar-top-create-note {
  padding: 0 15px;
  color: #fff;
}

.create-note-btn {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
}

.title {
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
}

.sidenavbar-top-menu-item {
  margin-top: 10px;
  height: 28.7rem;
}

.sidenavbar-top-menu-item ul li a {
  display: flex;
  color: #ccc;
  text-decoration: none;
}

.sidenavbar-bottom {
  padding: 8px 15px;
  border-top: 1px solid #555;
}

.icon {
  font-size: 14px;
  margin-right: 8px;
}

.NavNotebooks {
  margin-left: 2rem;
}

.NavNotebooks:hover {
  color: rgb(183, 0, 255);
}

.NavNotebookContainer {
  height: 7rem;
  overflow: auto;
  margin-bottom: 0.4rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.NavNotebookContainer::-webkit-scrollbar {
  display: none;
}

.notebooksNavTitle {
  margin-left: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  color: white;
  cursor: pointer;
}

.notebooksNavTitle:hover {
  color: rgb(183, 0, 255);
}

.notebooksNavTitle1 {
  margin-left: 0.5rem;
}

.navhome {
  margin-left: -0.45rem;
  text-decoration: none;
  color: white;
}

.navhome:hover {
  color: rgb(183, 0, 255);
}

.bb:hover {
  color: rgb(183, 0, 255);
}

.navhome1 {
  text-decoration: none;
  color: white;
}

.navhome2 {
  margin-left: -0.2rem;
  text-decoration: none;
  color: white;
}

.navhome2:hover {
  color: rgb(183, 0, 255);
}

.navhome1:hover {
  color: rgb(183, 0, 255);
}

.madeBy {
  margin-top: 1rem;
}

.searchResultsContainer {
  display: flex;
  align-items: center;
  background: #404040;
  padding: 8px 10px;
  margin-top: -1.1rem;
  overflow: auto;
}

.searchResAll::-webkit-scrollbar {
  display: none;
}

.searchResItem {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
  margin-left: 1.5rem;
  overflow: auto;
}

.searchResItem:hover {
  color: rgb(183, 0, 255);
}

.z {
  margin-left: 0.01rem;
}

.y {
  margin-left: -0.05rem;
}

.x:hover {
  color: rgb(183, 0, 255);
}

.searchResAll {
  max-height: 10rem;
  overflow: auto;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: -1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidenavbar-top-search {
  padding: 15px;
}

.search-block {
  display: flex;
  align-items: center;
  background: #404040;
  padding: 8px 10px;
  border-radius: 2px;
}

.e:focus-within {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.hidden {
  display: none !important;
}

.search {
  color: #fff;
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
}

.themeButton {
  cursor: pointer;
  margin-left: 2.8rem;
  font-size: 13pt;
}

.ui {
  margin-left: 0.3rem;
  margin-right: 0.4rem;
}

.xx {
  margin-right: 0.7rem;
}
