
/* body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%
} */

body::-webkit-scrollbar{
  display: none;
}



.homepage-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;

}

.homepage-containerDark{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(56, 56, 56);


}

.homePageTitle{
  background-image: url("https://wallpapercave.com/wp/wp6590692.jpg");
  height: 30rem;
  background-position: center;
  background-size: cover;
}

.notesAndNotebooksContainer{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.errors{
  list-style: none;
}

.navlink{
  text-decoration: none;
  color: black
}

.homeNotesContainer{
  display: flex;
  /* height: 100%; */
  /* -ms-overflow-style: none; */
  /* scrollbar-width: 5px; */
  overflow: auto;
  width: 40rem;
  height: 20rem;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}

.homeNotesContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.homeNotesContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.homeNotesContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 4px;
}
/* .homeNotesContainer::-webkit-scrollbar{
  display: none;
} */

.noteItems{
  display: flex;
  flex-direction: column;
  height: 18.9rem;
  margin: .5rem;
  background-color: white;
  justify-content:space-evenly;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;

}

.noteItemsDark{
  display: flex;
  flex-direction: column;
  height: 18.9rem;
  margin: .5rem;
  background-color: rgb(44, 44, 44);
  justify-content:space-evenly;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  color:white;
}

.notetitle{
  width: 17rem;
  padding: .5rem;
  overflow: hidden;
}

.notecontent{
  width: 17rem;
  height: 100%;
  word-wrap: break-word;
  padding: .5rem;
  overflow: hidden;
}

.homeNotesContainerTitle{
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-radius: 5px;
  border: solid transparent 1px;
  border-bottom: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-transform: uppercase;
}

.homeNotesContainerTitle h1{
  margin-left: 1rem;
}

.HN1{
  margin-top: -12rem;
}

.homeNotebooksContainer{
  width: 30rem;
  height: 23.1rem;
  overflow: auto;
  border: solid 1px black;
  margin-top: -11.99rem;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-radius: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.homeNotebooksContainer::-webkit-scrollbar{
  display: none;
}

.notebookTitle{
  height: 3rem;
  text-align: center;
  margin: .5rem;
  border: solid transparent 1px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  text-decoration: none;

}

.notebookTitleDark{
  height: 3rem;
  text-align: center;
  margin: .5rem;
  border: solid transparent 1px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  text-decoration: none;
  color: white;

}

.notebookTitleDark:hover{
  color: white;
  background: #BA0C9B;
  background: -webkit-linear-gradient(top left, #BA0C9B, #0115C0);
  background: -moz-linear-gradient(top left, #BA0C9B, #0115C0);
  background: linear-gradient(to bottom right, #BA0C9B, #0115C0);

}


.notebookTitle:hover {
  color: white;
  background: #BA0C9B;
  background: -webkit-linear-gradient(top left, #BA0C9B, #0115C0);
  background: -moz-linear-gradient(top left, #BA0C9B, #0115C0);
  background: linear-gradient(to bottom right, #BA0C9B, #0115C0);
}

.NL{
  text-decoration: none;
  color: black;
}

.notebooktitle{
  margin-left: 1rem;
  color: white;
}

.AS{
  color: white;
}

.notebookTitleDiv{
  display: flex;
}

.hpWelcome{
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
}

.fa-plus{
  margin-left: 15rem;
  color: white;
  float: right;
  margin-top: 1rem;
  cursor: pointer;
}

.fa-plus:hover{
  color: rgb(183, 0, 255);
}

.createModal{
  height: 17rem;
  width: 30rem;
  border-radius: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  background-color: white;
}

.createModalDark{
  height: 17rem;
  width: 30rem;
  border-radius: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  background-color: rgb(44, 44, 44);
  color: white;
}

.CreateInput1{
  width: 18rem;
  border: 1px solid purple;;
  padding: 12px 16px;
  min-width: 7.4rem;
  border-radius: 5px;
  margin-bottom: .5rem;


}
.createModal h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.createModalDark h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.CreateNoteButton{
  background-color: purple;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 20rem;
  margin: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family:inherit;
}

.CreateNoteButton:hover{
  background-color: rgb(183, 0, 255);
}

.timeP{
  text-align: center;
}
