.homepage-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homePageTitle{
  background-image: url("https://wallpapercave.com/wp/wp6590692.jpg");
  height: 30rem;
  background-position: center;
  background-size: cover;
}

.notesAndNotebooksContainer{
  display: flex;
  justify-content: space-evenly;
}

.errors{
  list-style: none;
}

.navlink{
  text-decoration: none;
  color: black
}

.homeNotesContainer{
  display: flex;
  height: 100%;
  overflow-x: scroll;
  width: 40rem;
  height: 20rem;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.noteItems{
  display: flex;
  flex-direction: column;
  height: 18.9rem;
  margin: .5rem;
  background-color: white;
  justify-content:space-evenly;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;

}

.notetitle{
  width: 17rem;
  padding: .5rem;
  overflow: hidden;
}

.notecontent{
  width: 17rem;
  height: 100%;
  word-wrap: break-word;
  padding: .5rem;
  overflow: hidden;
}

.homeNotesContainerTitle{
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-radius: 5px;
  border: solid transparent 1px;
  border-bottom: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-transform: uppercase;
}

.homeNotesContainerTitle h1{
  margin-left: 1rem;
}

.HN1{
  margin-top: -12rem;
}

.homeNotebooksContainer{
  width: 30rem;
  height: 23.1rem;
  overflow-y: scroll;
  border: solid 1px black;
  margin-top: -11.99rem;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-radius: 5px;

}

.notebookTitle{
  height: 3rem;
  text-align: center;
  margin: .5rem;
  border: solid transparent 1px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  text-decoration: none;

}
.notebookTitle:hover {
  color: white;
  background: #BA0C9B;
  background: -webkit-linear-gradient(top left, #BA0C9B, #0115C0);
  background: -moz-linear-gradient(top left, #BA0C9B, #0115C0);
  background: linear-gradient(to bottom right, #BA0C9B, #0115C0);
}

.NL{
  text-decoration: none;
  color: black;
}

.notebooktitle{
  margin-left: 1rem;
  color: white;
}

.AS{
  color: white;
}

.notebookTitleDiv{
  display: flex;
}

.hpWelcome{
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
}

.fa-plus{
  margin-left: 15rem;
  color: white;
  float: right;
  margin-top: 1rem;
  cursor: pointer;
}

.fa-plus:hover{
  color: purple;
}

.createModal{
  height: 17rem;
  width: 30rem;
  border-radius: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.CreateInput1{
  width: 18rem;
  border: 1px solid purple;;
  padding: 12px 16px;
  min-width: 7.4rem;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.createModal h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.CreateNoteButton{
  background-color: purple;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 20rem;
  margin: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family:inherit;
}

.CreateNoteButton:hover{
  background-color: rebeccapurple;
}

.timeP{
  text-align: center;
}
