/* TODO Add site wide styles */

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #ebf8fe;
}

.loadingText {
  color: black;
}
