.splashPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 2rem;
}

body {
  font-family: 'Space Mono', monospace;
}

.splashTitle{
  font-size: 56px;
  line-height: 40px;
  margin-top: 1rem;
  color: white;
}

.splashText{
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: white;
}

.splashButton{
  background-color: purple;
  font-size: 17px;
  height: 3.2rem;
  width: 20rem;
  margin: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family:inherit;
}

.splashButton a{
  color: white;

}

.splashButton a:hover{
  color: purple;
}

.splashButton:hover{
  background-color: rgb(150, 1, 150);
}

.splashPageContainer a {
  cursor: pointer;
  text-decoration: none;
}

.splashPageContainer a:hover {
  color: white;
}

.SPA:hover{
  color:purple !important;
}

.splashPic{
  width: 60%;
  height: auto;
  min-width: 30rem;
}

.picDiv{
  display: flex;
  overflow: auto;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}

.splashPicText{
  margin-top: -.1rem;
  color: white;
}
.splashPicText p {
  width: 20rem;
}

.SplashBG{
  position:relative;
  width: 100%;
  height: 81rem;
  margin:0;
  padding:0;
  background:url("https://wallup.net/wp-content/uploads/2016/01/191737-space-asteroid-minimalism.jpg") no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
}


