
body
{
 margin:0 auto;
 padding:0px;
 /* text-align:center; */
 /* width:100%; */
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}

.loginBG{
  position:relative;
  display: flex;
  width: 100%;
  height: 61rem;
  margin:0;
  padding:0;
  background:url("https://cdn.dribbble.com/users/43762/screenshots/1438974/ng-colab-space_night.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
}

.loginFormContainer{
  /* position: absolute; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 41.5rem;
  width: 33rem;
  margin: auto;
  margin-top: 4rem;
  border-radius: 1px;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.loginFormContainer h1{
  margin-top: 8.5rem;
}

.loginFormContainer p{
  margin-top: -.1rem;
}


.loginForm{
  display: flex;
  flex-direction: column;
}

.loginSubmit{
  background-color: purple;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 20rem;
  margin: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-family:inherit;
  /* margin-bottom: 1rem; */
}

.loginSubmit:hover{
  background-color: rebeccapurple;
}

.demoLoginSubmit{
  background-color: purple;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 20rem;
  margin: auto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family:inherit;
}

.demoLoginSubmit:hover{
  background-color: rebeccapurple;
}

.loginIcon{
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: -8.20rem;
}

.loginInput{
  width: 18rem;
  border: 1px solid rgb(212, 212, 212);
  padding: 12px 16px;
  min-width: 7.4rem;
  min-height: 1.33rem;
  border-radius: 5px;
  background-color: white;
  margin-bottom: .5rem;
}

.createAccount{
  color: purple;
  cursor: pointer;
  text-decoration: none;
}

.loginErrors{
  list-style: none;
  margin-right: 2rem;
  color: purple;
}
