input{
  font-family:inherit;
}

.TET{
  font-family:inherit;
}

.noteCC{
  flex-shrink: 1;
}

.Notebook-container{
  /* background-color: red; */
  /* display: flex; */
  /* margin: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: red; */

}

.nbcontainer{
  display: flex;
  /* min-height: 100% */

}

.notesHalf{
  /* background-color: grey; */
  height: 100%;
  width: 20rem;

  /* min-height: calc(100vh - 116px) */
  /* min-height: 100vh; */
  /* border-right: solid black 1px; */
}

.notebooksTitle{
  background-image: url("https://hdqwalls.com/wallpapers/minimalist-space-z8.jpg");
  background-size: cover;
  /* height: 5rem; */
  padding: 1rem;
  /* width: 90%; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.ll{
  /* margin-left: 1rem; */
}
.nbt1{
  display: flex;
  flex-direction: column;


  /* background-color: green; */
}

.nbt2{

}

.homeNotesContainer1{
  /* background-color: green; */
  height: 34.45rem;
  overflow: scroll;
  width: 20rem;
}

.homeNotesNotesContainer{
  /* display: flex;
  flex-direction: column; */
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  height: 4rem;
  /* width: 13.5rem; */
  /* width: 100%; */
  word-wrap: break-word;
  overflow: hidden;
  cursor: pointer;
  padding: 1rem;

}

.homeNotesNotesContainer:hover{
  height: 8rem;

}

.homeNotesNotesContainer:hover .timeDiv{
  display: block;

}

.timeDiv{
/* background-color: green; */
display: none;
/* position: absolute; */
/* bottom: 0px; */
}


.notepadContainer{
  /* height: 1rem; */
  width: 100%
}
.note-title{
  width:100%;
  height: 3rem;
  padding: .5rem;
  font-size: 26px;
  /* margin: 0; */
}

.note-content{
  width: 100%;
  height: 100%;
  padding: .5rem;
  font-size: 26px;
  margin: 0;

}

#createNoteButton{
  background-color: purple;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 10rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  font-family:inherit;
  margin-top: 1rem;

}

#createNoteButton:hover{
  background-color: rebeccapurple;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  /* background-color: red; */
  height: 5rem;
  /* align-content: center; */
}

.DBButton{
  background-color: rgb(1, 161, 1);
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 10rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  font-family:inherit;
  margin-left: 1rem;
  margin-top: .7rem;
}

.DBButton:hover{
  background-color: rgb(1, 185, 1);
}

.del{
  background-color: rgb(221, 24, 24) !important;
}

.del:hover{
  background-color: rgb(255, 0, 0) !important;
}

.DBButton2{
  background-color: grey;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 10rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  font-family:inherit;
  margin-left: 1rem;
  margin-top: .7rem;
}

.DBButton2:hover{
  /* background-color: rebeccapurple; */
}

.enbtn{
  margin-top: .5rem;
  margin-left: .1rem;
  cursor: pointer;
}

.enbtn:hover{
  color: purple;
}

.CreateInput2{
  width: 19rem;
  border: 1px solid purple;;
  padding: 12px 16px;
  min-width: 7.4rem;
  border-radius: 5px;
  margin-bottom: .5rem;
}




.aa{
  display: flex;
  flex-direction: column;
}






.EditNotebookbtn{
  background-color: purple;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 10rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  font-family:inherit;
  /* margin-left: 12rem; */
  margin-top: .7rem;
}


.EditNotebookbtn2{
  background-color: purple;
  font-size: 16px;
  color:white;
  height: 3.2rem;
  width: 10rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  font-family:inherit;
  margin-left: 1rem;
  margin-top: .7rem;
}

.penIcon{
  margin-right: .8rem;
}

.rteContainer{
  /* background-color: green; */
  width:100vw;;
  height: 100%;
}
